.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 34px;
  margin-bottom: 10px;
  color: #e44848;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;

  font-weight: bold;
}

.list {
  list-style-type: disc;
  margin-left: 20px;

  background-color: #e44848;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.list li {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.img {
  width: 800px;
  margin-top: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
